%Image::ExifTool::UserDefined = (
    'XMP-AIGC' => {
        Namespace => 'http://example.com/aigc/1.0/',
        TagTable => 'Image::ExifTool::UserDefined::XMP::AIGC',
    },
);

%Image::ExifTool::UserDefined::XMP::AIGC = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-AIGC', 2 => 'Image' },
    AIGC => { Writable => 'string' },
);

1;